@media screen and (max-width: 780px) {
  body {
    overflow: visible;
  }

  .main-wrapper {
    overflow: visible;
    margin: 1vh 1%;
    height: auto;
  }

  .wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper {
    overflow: visible;
    margin: 0;
    height: auto;
  }
}

@media screen and (max-width: 360) {
  .wrap {
  }
}

.main-wrapper {
  background: #fff;
  height: 84vh;
  margin: 8vh 4%;
  /* overflow: hidden; */
}

.wrapper {
  display: flex;
  /* overflow: scroll; */
}
